.popup__error {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    opacity: 1;
    position: absolute;
    top: 100%;
    left: 36px;
    transition: 0.3s;
}

@media screen and (max-width: 767px) {
    .popup__error {
        left: 21px;
    }
}