.auth__save-button {
    margin: 216px auto 0;
    padding: 0;
    width: 358px;
    height: 50px;
    background-color: #FFF;
    border: none;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    text-align: center;
    color: #000000;
    cursor: pointer;
}

.auth__save-button:hover {
    opacity: 0.85;
}