.auth__text {
    width: 358px;
    height: 27px;
    padding: 0;
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: #CCC;
    border: none;
    border-bottom: 2px solid #CCC;
    background-color: #000000;
}

.auth__text:first-child {
    margin-bottom: 30px;
}